@import '/var.css';
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*Elements*/

* {
  font-family: 'Poiret One', cursive;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  color: var(--main-text);
  cursor: pointer;
  font-size: 5rem;
  transition: color 500ms ease-in-out;
}
h1:hover {
  color: rgb(5, 92, 45);
}

div.projects img {
  border-radius: 1rem;
}

div.projects img:nth-child(1):hover {
}

p {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}
span {
  display: inline;
}
/*Classes*/
.flex {
  display: flex;
  flex-flow: wrap;
}
.row {
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
}

.profile {
  animation: fadeIn 2s;
}

.projects {
  background-color: black;
  min-height: 40rem;
}

.ionicon {
  height: 2rem;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/*IDs*/

#pfp {
  max-width: 250px;
  width: 100%;
  height: auto;
  border-radius: 16em;
  animation: fadeIn 2s;
  margin: 0 5%;
}

#socials {
  flex: 1 1 0;
  flex-flow: wrap;
  justify-content: space-evenly;
}

#skills,
#tools {
  width: 500px;
  text-align: center;
}

#intro {
  height: 100vh;
}
/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries*/
@media (max-width: 480px) {
  #socials {
    flex-flow: column;
    align-items: center;
  }
  div.projects img {
    height: 10.5rem;
  }
}
